package s$ENTITY_ALL_SMALL$

import (
	"ginp-api/internal/app/gapi/model/m$ENTITY_ALL_SMALL$"
	"ginp-api/internal/db/mysql"
)

var $ENTITY_NAME$ *m$ENTITY_ALL_SMALL$.Model

func Model() *m$ENTITY_ALL_SMALL$.Model {
	if $ENTITY_NAME$ == nil {
		dbRead := mysql.GetReadDb()
		dbWrite := mysql.GetWriteDb()
		$ENTITY_NAME$ = m$ENTITY_ALL_SMALL$.NewModel(dbRead, dbWrite)
	}
	return $ENTITY_NAME$
}
